body{
  background:black;
  color:red;
  font-family:'VT323', monospace;
  margin:0;
}

#error-screen{
  position:fixed;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  cursor:pointer;
}

#error-text{
  white-space:pre;
  font-size:32px;
}

#close-text{
  font-size:26px;
  text-decoration:underline;
}
